@use '../variables';

.bar-container {
    height: 30vh;
    margin-top: 3rem;
}

.bar {
    background-color: variables.$primaryRed;
    width: 2.5rem;
    border-radius: 3px;
    margin-top: auto;
}

.bar--max {
        background-color: variables.$primaryCyan;
    }
