@use '../variables';

.overview-card {
    background-color: variables.$neutralPaleOrange;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}

.divider {
    border-top: 3px solid variables.$neutralCream;
    margin: 1rem;
}