// Colors
$primaryRed: hsl(10, 79%, 65%);
$primaryCyan: hsl(186, 34%, 60%);
$neutralDarkBrown: hsl(25, 47%, 15%);
$neutralMediumBrown: hsl(28, 10%, 53%);
$neutralCream: hsl(27, 66%, 92%);
$neutralPaleOrange: hsl(33, 100%, 98%);

// Typography

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$primaryFontSize: 18px;
$font-stack: 'DM Sans'