@use 'variables';


body {
  font-size: variables.$primaryFontSize;
  font-family: variables.$font-stack;
  background-color: variables.$neutralCream;
  margin: 0.5rem;
}

@media screen and (min-width: 45em) {
  body {
    margin: 10rem;
  }
}

p {
  margin: 0;
}

.text-dark-brown {
  color: variables.$neutralDarkBrown
}

.text-medium-brown {
  color: variables.$neutralMediumBrown
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.mb-half {
  margin-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: 700;
}

.font-size-lg{
  font-size: xx-large;
}